body{
  text-align: center;
  font-family: 'Roboto Condensed',serif;
  color:#40514e
}
.top-container{
  background-color: #EAF6F6;
}
.bottom-container{
  background-color: #66bfbf;
  height: 100px;
  margin: 0;
  line-height: 2;
}
.skills{
  width: 60%;
  margin:30px auto 0 auto;
  line-height: 1.8;
  position: relative;
  right: 30;
}
.a1{
  font-weight: normal;
  color: #66bfbf;
  font-size: 2.5rem;
  margin: 0;
}
.programmer{
  width:35%;
  float: left;
}
.skill-row{
  text-align: left;
  margin-bottom:200px;
}
.mine{
  border-radius: 50%;
  margin-top: 30px;
}
h1{
  color: #66bfbf;
  font-size: 500%;
  font-family: 'Sacramento', cursive;
  padding-top: 30px;
  margin: 0 auto;
}
h2{
  color: #66bfbf;
}
.sk{
  font-style: italic;
  font-weight: normal;
  color: #66bfbf;
  font-size: 2.5rem;
}
.skill-row h3{
  color:#11999e;
  position: relative;
  left: 30px;
}
h3{
  color:#11999e;
}
p{
  position: relative;
  bottom:15px;
}
.skills p{
  position: relative;
  left: 30px;
}
.contact-me{
  line-height: 2;
  margin: 50px auto;
  width: 50%;
}

.topcloud{
  position: absolute;
  right: 250px;
  top:30px;
}
.bottomcloud{
  position: absolute;
  left: 350px;
  bottom: 300px;
  margin-bottom: 0;

}
.bottom-container p{
  color:#eaf6f6;
  margin-bottom: 0;
  position: relative;
  top:10px;
  font-size: .75rem;
}
.bottom-container a{
  position: relative;
  top:15px;
  font-family: 'Roboto Condensed',serif;
  color:#11999e;
  margin: 10px;
  padding-top: 5px;
  text-decoration: none;
}
a:hover{
  color: #eaf6f6;
}
hr{
  width: 20%;
  border-style:none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
}

.btn {
  background: #2bc4ed;
  background-image: -webkit-linear-gradient(top, #2bc4ed, #30e3cb);
  background-image: -moz-linear-gradient(top, #2bc4ed, #30e3cb);
  background-image: -ms-linear-gradient(top, #2bc4ed, #30e3cb);
  background-image: -o-linear-gradient(top, #2bc4ed, #30e3cb);
  background-image: linear-gradient(to bottom, #2bc4ed, #30e3cb);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ed);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ed);
  text-decoration: none;
}
